connections:
  default:
    name: "default"
    address: "{{ HOST_USER }}"
    user: "{{ HOST_USER }}"
    password: "{{ HOST_USER }}"
    port: "3306"
    protocol: "mysql"
    schema: "argus"
  exporter:
    name: "exporter"
    address: "{{ HOST_USER }}"
    user: "{{ HOST_USER }}"
    password: "{{ HOST_USER }}"
    port: "3306"
    protocol: "mysql"
    schema: "exporter"
